<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <title> USER FORM LOGIN</title>
    </head>
    <body>
        <div align="center">
            <div align="center" class="border">
                <div class="header">
                    <div class="header">
                        <hi class="word"> Login</hi>
                        </div>
                        <h2 class="word">
                            <form action="/login" method="POST">
                                <div class="msg"> {{ms}}</div>
                                <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox">
                            </br> </br>
                            <input id="password" name="password" type="password"
                            placeholder="Enter your Password" class="textbox"> </br> </br>
                            </form>
                        </h2>
                        <p class="bottom"> Dont have an account? <a class="bottom" href="/index2.html"> Sign up here</a></p>
                </div>
            </div>
        </div>
    </body>
</html>